@model AceitasPixMVP.Models.ProfileViewModel
@{
    ViewBag.Title = "Meus dados";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Editar minha conta.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                var genders = new Dictionary<string, string>
                {
                    {"M", "Masculino"},
                    {"F", "Feminino"}
                };
            }
            @Html.DropDownListFor(m => m.Gender, new SelectList(genders, "Key", "Value"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cpf, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control input_cpf" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control input_date" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input_phone" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Streamer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Streamer, new { @class = "form-control", id = "ck_streamer" })
        </div>
    </div>
    <div id="streamer_fields" style="display:none;">
        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control input_postal" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Street, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Complement, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Complement, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{
                    var states = new Dictionary<string, string>
                            {
                        {"AC","Acre"},
                        {"AL","Alagoas"},
                        {"AP","Amapá"},
                        {"AM","Amazonas"},
                        {"BA","Bahia"},
                        {"CE","Ceará"},
                        {"DF","Distrito Federal"},
                        {"ES","Espírito Santo"},
                        {"GO","Goiás"},
                        {"MA","Maranhão"},
                        {"MT","Mato Grosso"},
                        {"MS","Mato Grosso do Sul"},
                        {"MG","Minas Gerais"},
                        {"PA","Pará"},
                        {"PB","Paraíba"},
                        {"PR","Paraná"},
                        {"PE","Pernambuco"},
                        {"PI","Piauí"},
                        {"RJ","Rio de Janeiro"},
                        {"RN","Rio Grande do Norte"},
                        {"RS","Rio Grande do Sul"},
                        {"RO","Rondônia"},
                        {"RR","Roraima"},
                        {"SC","Santa Catarina"},
                        {"SP","São Paulo"},
                        {"SE","Sergipe"},
                        {"TO","Tocantins"}
                    };
                }
                @Html.DropDownListFor(m => m.State, new SelectList(states, "Key", "Value"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Twitch</label>
            <div class="col-md-2" style="text-align:center">
                @if (ViewBag.twitchAuth)
                {
                    <button id="btnTwitch" type="button" class="btn btn-twitch">
                        <i class="fa fa-1x fa-twitch"></i> Conta vinculada
                    </button>
                }
                else
                {
                    <button id="btnTwitch" type="button" class="btn btn-twitch">
                        <i class="fa fa-1x fa-twitch"></i> Vincular minha conta
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Salvar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryforms")
}

<script>
    $(document).ready(function () {
        if ($("#ck_streamer").is(":checked")) {
            $("#streamer_fields").show();
        } else {
            $("#streamer_fields").hide();
        }

        $("#ck_streamer").on("change", function () {
            debugger;
            if ($(this).is(":checked")) {
                $("#streamer_fields").show();
            } else {
                $("#streamer_fields").hide();
            }
        });
    });

    $("#btnTwitch").on("click", function () {
        window.open("@ViewBag.urlTwitch");
    });
</script>
